body {
	background-color: #cccccc;
}
{background-image: url("images/noselogo.jpg"); <! why isnt this working>
}

	h1, h3, p, ul {
		color: 000000;
		text-align: center;
	}
	#slogan {
		font-style: italic;
	}

	h1 {
		font-weight: bold;
	}

	.center	{
		display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
	}